{% extends 'base.html' %}
{% block content %}
{% for author in object_list %}
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin:140px;">
    <div class="row" style="padding:45px;">
        <h3 style="margin-top:15px;"> {{ author.name }} </h3>
        <img src="{{ author.img_url }}" style="width: 18rem;" class="card-img-top" alt="...">
        <div class="card-body" style="margin:15px;">
            <h5>
                <p>About the auther: {{author.info}}</p>
            </h5>
            <br>
        </div>
    </div>
</div>
{% endfor %}
{% if page_obj.has_other_pages %}
<hr>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
                {% for p in paginator.page_range %}
                <li class="page-item"><a class="page-link" style="color:black;" href="?page={{p}}">{{p}}</a></li>
                {% endfor %}

        </ul>
    </nav>
</div>
{% endif %}

{% endblock %}