{% extends 'base.html' %}
{% block content %}
{% for author in object_list %}
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin:140px;">
    <div class="row" style="padding:45px;">
        <h3 style="margin-top:15px;"> {{ author.name }} </h3>
        <img src="{{ author.img_url }}" style="width: 18rem;" class="card-img-top" alt="...">
        <div class="card-body" style="margin:15px;">
            <h5>
                <p>Category:{{ book.category }}</p>
                <p>Price: {{book.price}}$</p>
                <p>Book quantity: {{book.quantity}} </p>

            </h5>
            <br>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}