{% extends 'base.html' %}
{% block content %}
<!--The page for the selected book-->
<div class="container" style="margin-top:50px;">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <p>
        <h1>{{ book.title }}</h1>
        </p>
        <img src="{{book.img_url}}" alt="..">
        <p>
        <h4>Description: {{ book.info }}</h4>
        </p>
        <p>
        <h4>Quantity: {{ book.quantity }}</h4>
        </p>
        <p>
        <h4>Category: <a href="{% url 'category_books' book.category.slug %}">{{ book.category }}</a></h4>
        </p>
        <p>
            <i><h4>Author: <a href="{% url 'author' book.writer.slug %}">{{ book.writer }}</a></h4></i>
        </p>
        <p>
            <b><h4>Price: {{ book.price }}$</h4></b>
        </p>
        {% if request.user.is_authenticated %}
        <p><a href="{% url 'add_to_cart' book.slug %}" class="btn btn-primary">Add to cart</a></p>
        {% endif %}
        <form class="rate-form" action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="fa fa-star fa-3x my-btn checked" id="first"></button>
            <button type="submit" class="fa fa-star fa-3x my-btn checked" id="second"></button>
            <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
            <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
            <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
            <div id="confirm-box"></div>
        </form>
    </div>
</div>
{% endblock %}