{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:50px;">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <p>
        <h1>{{ book.title }}</h1></p>
        <img src="{{book.img_url}}" alt="..">
        <p><h5>Description: {{ book.info }}</h5></p>
        <p><h4>Quantity: {{ book.quantity }}</h4></p>
        {% if request.user.is_authenticated %}
        <p><a href="{% url 'add_to_cart' book.slug %}" class="btn btn-primary">Add to cart</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}