{% extends 'base.html' %}
{% block content %}

<!--block 'if' is to check existing books-->
{% if books %}
{% for book in books %}
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin:140px;">
    <div class="row" style="padding:45px;">
        <h3 style="margin-top:15px;"> {{ book.title }} </h3>
        <img src="{{book.img_url}}" style="width: 18rem;" class="card-img-top" alt="...">
        <div class="card-body" style="margin:15px;">
            <h5>
                <p class="card-text">{{ book.info|linebreaks|truncatewords:50 }}<a
                        href="{% url 'book' book.slug %}">read
                        more</a></p>
                <p>Category:{{ book.category }}</p>
                <p>
                <h4>Author: <a href="{% url 'author' book.writer.slug %}">{{ book.writer }}</a></h4>
                </p>
                <p>
                <h4>Price: {{book.price}}$</h4>
                </p>
                <p>
                <h4>Book quantity: {{book.quantity}}</h4>
                </p>
                {% if request.user.is_authenticated %}
                <p><a href="{% url 'add_to_cart' book.slug %}" class="btn btn-primary">Add to cart</a></p>
                {% endif %}
                <a href="{% url 'book' book.slug %}" class="btn btn-dark">Read More</a>
            </h5>
            <br>
        </div>
    </div>
</div>
{% endfor %}
<!--If there are no books you would see this-->
{% else %}
<center>
    <h2 style="margin-top:80px; margin-bottom:750px;">Sorry, but we do not have such book :(</h2>
</center>
{% endif %}
{% endblock %}