{% extends 'base.html' %}
{% block content %}
<form method="post" style="margin:160px; margin-bottom:500px;">
    <div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:20px;">
        <div class="text-center">
<!--            'csrf_token' is needed in all the forms in Django-->
            {% csrf_token %}
            <center><h3>Your review about my site</h3></center>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Proposal</span>
                <textarea type="text" name="text" class="form-control" placeholder="Your review" aria-label="Your review"
                          aria-describedby="basic-addon1"></textarea>
            </div>
            <button type="submit" class="btn btn-dark" style="margin-top:30px;">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
